@import '~bootstrap-css-only/css/bootstrap.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue-icons.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '@/assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --dark-medium: #{$dark-medium};
  --dark-low: #{$dark-low};
  --lighter: #{$lighter};
  --light: #{$light};
  --light-medium: #{$light-medium};
  --light-low: #{$light-low};
  --dark-blue: #{$dark-blue};
  --light-blue: #{$light-blue};
  --dark-yellow: #{$dark-yellow};
  --card-color: #{$card-color};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-border {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.jbt {
  padding-top: 15px;
}
