$dark: #000;
$darker: #111;
$dark-medium: #333;
$dark-low: #666;
$light: #fff;
$lighter: #eee;
$light-medium: #ddd;
$light-low: #999;

$dark-blue: #374369;
$light-blue: #00AEEF;
$dark-yellow: #FFF200;
$card-color: #E9ECEF;
